PRIVATE_KEY=0xyourdeployerprivatekeyhere
MONAD_TESTNET_RPC_URL=https://testnet-rpc.monad.xyz/ #Default is testnet, change to mainnet if you want to deploy to mainnet
MONADSCAN_API_KEY=youmonadscanapikeyhere
